<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="error_styles.css">
    <title>Oops</title>
</head>
<body>
    <div class="layout">
         <div class="message-section">
             <span class="error-code">404 Not Found</span>
             <span class="message">Argh, its broken!<br>
                Sorry about that, it seems our junior developer on duty again...
            </span>
            <div class="help-block">
                <span class="help">Maybe, this will help</span>
                <a id="home" href="/">Home</a>
            </div>
         </div>
    </div>
</body>
</html>


